<div class="flex flex-col items-center gap-4">
  <input
    type="text"
    [(ngModel)]="inputNumber"
    min="1"
    max="840"
    class="border-black border-b h-8 text-center w-24 font-vidaloka"
  />

  <button
    class="shadow-md border border-slate-100 rounded-full py-1 px-3 disabled:opacity-50 font-vidaloka"
    (click)="convertNumberToColors()"
    [disabled]="!isInputNumberValid()"
  >
    convert
  </button>
</div>

<app-square [squareColors]="squareColors"></app-square>
<app-square-number
  *ngIf="covertedNumber"
  [squareNumber]="covertedNumber"
></app-square-number>
