<div class="my-4">
  <div class="flex justify-center gap-5">
    <app-color-chip
      [callbackFunction]="chooseColor"
      [color]="color"
      *ngFor="let color of colors.slice(0, 2)"
    ></app-color-chip>
  </div>

  <div class="flex justify-center gap-5 my-3">
    <app-color-chip
      [callbackFunction]="chooseColor"
      [color]="color"
      *ngFor="let color of colors.slice(2, 5)"
    ></app-color-chip>
  </div>

  <div class="flex justify-center gap-5">
    <app-color-chip
      [callbackFunction]="chooseColor"
      [color]="color"
      *ngFor="let color of colors.slice(5, 7)"
    ></app-color-chip>
  </div>
</div>
