<app-menu [changeMenu]="changeMenu" [colors]="colors"></app-menu>

<div
  *ngIf="menu === 1"
  class="h-screen xl:mx-96 xl:my-32 mx-20 pb-12 xl:shadow-lg xl:border-solid xl:border-2 xl:border-indigo-600"
>
  <app-color-picker
    (newSquareColorEvent)="addSquareColor($event)"
    [colors]="colors"
  ></app-color-picker>
  <app-square [squareColors]="squareColors"></app-square>
  <app-square-number [squareNumber]="squareNumber"></app-square-number>
</div>

<div *ngIf="menu === 2">
  <p>cijfer naar kleuren</p>
</div>

<div *ngIf="menu === 3">
  <p>kleuren naar mogelijkheden</p>
</div>
